* {
    font-family: "Ubuntu", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* Navbar */
.navbar .navbar-nav .nav-item {
    font-weight: 500;
}
.navbar .navbar-brand img {
    height: 35px;
    width: 100px;
}
.navbar .navbar-brand span {
    font-weight: 600;
    font-size: 2rem;
}

.navbar .navbar-nav li a span {
    color: #0155c2;
    transition: 0.5s;
}

.navbar .navbar-nav li span:hover {
    color: #ff7a00;
    text-decoration: underline;
    font-size: 1.2rem;
}

.navbar .navbar-nav .sign-reg2 {
    display: none;
}

.navbar .icon {
    padding-right: 0px;
    font-weight: 500;
    padding-left: 0;
    margin-right: 0;
}

.navbar .icon i {
    font-size: 1.3rem;
    background-color: rgb(231, 244, 255);
}

.navbar .nav-item img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 0;
}

.navbar .dropdown-menu {
    --bs-dropdown-min-width: none;
}

.navbar .dropdown-menu li {
    padding-left: 5px;
    padding-right: 20px;
}

.navbar .dropdown-menu .profile-image {
    text-align: center;
    justify-content: center;
    padding: 10px 0;
    margin-bottom: 20px;
}
.navbar .dropdown-menu li img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 0;
    margin-bottom: 10px;
}

.navbar .dropdown-menu li .bi {
    color: #0155c2;
    font-size: 1.4rem;
    margin-right: 4px;
    font-weight: 500;
}

/*navbar end */

/* home page  */
/* large image */

.front-image {
    width: 100%;
    margin-top: 10px;
}

.front-image img {
    width: 100%;
    height: 50%;
}

/* large image end */

.body {
    margin: 0 3%;
    align-items: center;
    justify-content: center;
}

.body-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    margin-bottom: 20px;
}
.body-cards .card {
    height: 210px;
    padding: 10px;
    margin: 20px 34px 20px 34px;
    border-top: 1px solid #ff7a00;
    border-left: 1px solid #ff7a00;
    border-right: 1px solid #0155c2;
    border-bottom: 1px solid #0155c2;
    transition: 1s;
}
.body-cards .card:hover {
    border: 1px solid #0155c2;
    background-color: rgb(239, 238, 254);
    height: 225px;
}
.card i {
    font-size: 40px;
    color: #0155c2;
}
.card h5 {
    color: #0155c2;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.card p {
    color: #ff7a00;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
}

.statement {
    padding: 20px 0;
    padding-bottom: 20px;
}
.statement .msg {
    padding: 20px;
    width: 50%;
}
.statement .msg h5 {
    color: #0155c2;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    line-height: -20px;
}
.statement .msg p {
    /* color: #ff7a00; */
    color: #656565;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    line-height: -20px;
}

.statement .logo1 {
    width: 50%;
    text-align: center;
    justify-content: center;
    padding-top: 40px;
}
.statement .logo1 img {
    width: 100%;
    height: 70%;
}
.smart {
    /* height: 600px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 0;
    padding: 20px;
    background-color: whitesmoke;
    padding-bottom: 20px;
    flex-wrap: wrap;
}
.smart-img {
    width: 50%;
}
.smart-img img {
    width: 100%;
}
.smart-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.smart-info h2 {
    color: #0155c2;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 45px;
}
.smart-info h3 {
    color: #0155c2;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
}
.smart-info .h3-bck {
    background-color: #ff7a00;
    border-radius: 20px;
    padding: 10px;
}
.smart-info p {
    color: #ff7a00;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    line-height: -20px;
}
.smart-info ul {
    list-style: none;
    padding-inline-start: 0px;
}

.smart-info ul li {
    display: flex;
    text-decoration: none;
    font-size: 25px;
    color: #ff7a00;
    font-family: "ubuntu", sans-serif;
    font-weight: 500;
    line-height: -20px;
    text-wrap: wrap;
}
.smart-info ul li i {
    color: #0155c2;
    padding-right: 10px;
}

/* home page end  */

/* footer */
.gbras-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: whitesmoke;
    flex-wrap: wrap;
    width: 100%;
}
.gbras-footer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.gbras-footer .footer-logo {
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.gbras-footer .footer-logo img {
    width: 70%;
    margin-bottom: 20px;
}
.gbras-footer .footer-logo .social-icon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.gbras-footer .footer-logo .social-icon i {
    color: #ff7a00;
    margin: 3px;
}
.gbras-footer .footer-logo .social-icon i:hover {
    color: #0155c2;
}
.gbras-footer .footer-support {
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.gbras-footer .footer-about {
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.gbras-footer .footer-email {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 100%;
}
.gbras-footer .footer-support .head {
    color: #0155c2;
    font-family: "ubuntu", sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.gbras-footer .footer-support a {
    text-decoration: none;
}

.gbras-footer .footer-support a p:hover {
    border-bottom: 2px solid #0155c2;
}
.gbras-footer .footer-support p {
    color: #ff7a00;
    font-family: "ubuntu", sans-serif;
    font-weight: 500;
    font-size: 25px;
    transition: 1s;
}
.gbras-footer .footer-about .head {
    color: #0155c2;
    font-family: "ubuntu", sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.gbras-footer .footer-about a {
    text-decoration: none;
}
.gbras-footer .footer-about p {
    color: #ff7a00;
    font-family: "ubuntu", sans-serif;
    font-weight: 500;
    font-size: 20px;
    transition: 1s;
}
.gbras-footer .footer-about a p:hover {
    border-bottom: 2px solid #0155c2;
}
.gbras-footer .footer-email p {
    color: #0155c2;
    font-family: "ubuntu", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 30px;
}
.gbras-footer .footer-email input {
    width: 100%;
    height: 45px;
    border: 1px solid #ff7a00;
    padding: 0 10px;
    font-family: "ubuntu", sans-serif;
    font-weight: 300;
}
.gbras-footer .footer-email button {
    width: 90px;
    background-color: #ff7a00;
    padding: 10px;
    font-family: "ubuntu", sans-serif;
    font-weight: 300;
    border-radius: 10px;
}
.gbras-footer .footer-email button:hover {
    background-color: transparent;
    outline: #ff7a00;
    color: #ff7a00;
}

/* footer end  */

/* Bus-Hiring / Routes footer / about us */
.page-footer {
    margin-top: 10rem;
}

/* route frontend */

.routes-page .route-head {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.routes-page .route-head h1 {
    color: #0155c2;
    font-weight: 600;
    font-family: "Gill Sans";
    font-size: 45px;
}

.routes-page .route-form {
    padding: 40px 180px;
}

.routes-page .route-form form label {
    font-weight: 600;
    font-size: 18px;
}

.routes-page .route-form form .button-container {
    text-align: center;
    margin-top: 30px;
}

.routes-page .route-form form .button-container button {
    width: 70%;
    background-color: #0155c2;
    color: white;
    font-size: 17px;
    font-weight: 500;
}

.routes-page .route-form form .button-container button:hover {
    background-color: #ff7a00;
}

.routes-page .route-table {
    margin-top: 40px;
    padding: 20px 180px;
}

.routes-page .route-table thead tr th {
    color: #0155c2;
    font-weight: 600;
}

.routes-page .route-form .list1 {
    list-style: none;
    width: 100%;
    padding-left: 0px;
    border-radius: 0 0 5px 5px;
    background-color: #e6e2fd;
}
.routes-page .route-form .list2 {
    list-style: none;
    width: 100%;
    padding-left: 0px;
    border-radius: 0 0 5px 5px;
    background-color: #e6e2fd;
}

.routes-page .route-form .list-items {
    padding: 10px 5px;
}

.routes-page .route-form .list-items:hover {
    background-color: #dddddd;
}

/* Tooltip container */
.routes-page .route-table .tooltip1 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.routes-page .route-table .tooltip1 .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #ff2c2c;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.routes-page .route-table .tooltip1 .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #ff2c2c transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.routes-page .route-table .tooltip1:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Route Payment Modal 1 */
.modal1 .modal-content {
    border: 2px solid #0155c2;
}

.modal1 .modal-title {
    color: #ff7a00;
}

.modal1 .modal-body .summary-group {
    margin-bottom: 9px;
    transition: 1s;
    padding-top: 7px;
    padding-bottom: 7px;
}

.modal1 .modal-body .summary-group2 {
    margin-bottom: 9px;
    transition: 1s;
    padding-top: 7px;
    padding-bottom: 7px;
}

.modal1 .modal-body .summary-group:hover {
    padding: 20px 12px 20px 12px;
    box-shadow: 0.5rem 0.5rem 0.3rem #dedede;
    background-color: rgb(251, 251, 251);
    font-size: 19px;
}

.modal1 .modal-body .summary-group2:hover {
    padding: 20px 12px 20px 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0.5rem 0.5rem 0.3rem #dedede;
    font-size: 19px;
    background-color: rgb(251, 251, 251);
}
.modal1 .modal-body .summary-group .summary-header {
    /* font-size: 20px; */
    margin-bottom: 0px;
    font-weight: 600;
    font-family: "Times New Roman", Times, serif;
    padding-left: 5px;
    color: #0155c2;
}

.modal1 .modal-body .summary-group2 label {
    /* font-size: 20px; */
    margin-bottom: 5px;
    font-weight: 600;
    font-family: "Times New Roman", Times, serif;
    padding-left: 5px;
    color: #0155c2;
}

.modal1 .modal-body .summary-group hr {
    width: 10rem;
    margin-left: 4px;
    margin-top: 0;
    margin-bottom: 9px;
    transition: 1s;
}

.modal1 .modal-body .summary-group .travelTo-rule {
    width: 9rem;
}
.modal1 .modal-body .summary-group .eta-rule {
    width: 19rem;
}

.modal1 .modal-body .summary-group .summary-info {
    margin-top: 0;
    padding-left: 6px;
}

/* Route Payment Modal 2 */
.modal2 .modal-content {
    border: 2px solid #ff7a00;
}

.modal2 .modal-title {
    color: #0155c2;
}

.modal2 .modal-body label {
    color: #ff7a00;
    font-family: "Times New Roman", Times, serif;
    font-size: 19px;
}

.modal2 .modal-footer .btn1 {
    background-color: #ff7a00;
    color: white;
    font-size: 16px;
}

.modal2 .modal-footer .btn1:hover {
    background-color: #0155c2;
}

.modal2 .modal-footer .btn2 {
    background-color: #0155c2;
    color: white;
    font-size: 16px;
}

.modal2 .modal-footer .btn2:hover {
    background-color: #ff7a00;
}

/* Bus Hiring Page */

.busHiring-page .busHiring-head {
    margin-top: 4rem;
    text-align: center;
    margin-bottom: 6rem;
}

.busHiring-page .busHiring-head h1 {
    color: #0155c2;
    font-weight: 600;
    font-family: "Gill Sans";
    font-size: 45px;
}

.busHiring-page .busHiring-container {
    padding-left: 13rem;
    padding-right: 13rem;
    flex-wrap: wrap;
}

.busHiring-page .busHiring-info {
    color: #656565;
    padding-top: 5rem;
    padding-right: 2rem;
}

.busHiring-page .busHiring-info .busHiring-info-head {
    color: #ff7a00;
    font-weight: 400;
    font-family: "Times New Roman", Times, serif;
    font-size: 35px;
}

.busHiring-page .busHiring-info p,
ul {
    font-size: 17px;
}

.busHiring-page .busHiring-form {
    padding: 35px;
}

.busHiring-page .busHiring-form form h2 {
    text-align: center;
    color: #0155c2;
    font-weight: 600;
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 40px;
}

.busHiring-page .busHiring-form form div {
    margin-top: 0.5rem;
}

.busHiring-page .busHiring-form form .btn {
    background-color: #ff7a00;
    color: white;
    width: 100%;
    margin-top: 1.5rem;
}

.busHiring-page .busHiring-form form .btn:hover {
    background-color: #0155c2;
}

/* about us page  */

.about-page .about-head {
    margin-top: 4rem;
    text-align: center;
    margin-bottom: 3rem;
}

.about-page .about-head h1 {
    color: #0155c2;
    font-weight: 600;
    font-family: "Gill Sans";
    font-size: 45px;
}

.about-page .about-container {
    padding-left: 10rem;
    padding-right: 10rem;
}

.about-page .about-image {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 3rem;
}

.about-page .about-image img {
    width: 100%;
    max-height: 550px;
}

.about-page .about-info {
    color: #656565;
}

.about-page .about-info1 {
    margin-top: 2rem;
}

.about-page .about-info .about-info-head {
    color: #ff7a00;
    font-weight: 400;
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
}

.about-page .about-info1 p {
    font-size: 17px;
}

@media (max-width: 993px) {
    /* navbar signin and register icons/tabs */
    .navbar .navbar-nav .sign-reg1 {
        display: none;
    }
    .navbar .navbar-nav .sign-reg2 {
        display: inline;
    }
}

@media (max-width: 1500px) {
    /* Bus Hiring Page */

    .busHiring-page .busHiring-container {
        padding-left: 10rem;
        padding-right: 10rem;
        justify-content: center;
        align-items: center;
    }

    .busHiring-page .busHiring-info {
        width: 100%;
        max-width: 43rem;
    }

    .busHiring-page .busHiring-form {
        width: 100%;
        margin-top: 5rem;
        margin-left: 1rem;
        /* margin-right: 1rem; */
        max-width: 53rem;
    }

    .busHiring-page .busHiring-form form {
        width: 100%;
    }

    .busHiring-page .busHiring-form form h2 {
        font-size: 30px;
    }

    /* about us page */
    .about-page .about-container {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media (max-width: 1000px) {
    .statement .msg {
        width: 100%;
    }
    .statement .logo1 {
        display: none;
    }
    .smart .smart-img {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .smart .smart-img img {
        height: 300px;
        width: 60%;
    }

    .smart .smart-info {
        width: 100%;
        /* text-align: left; */
    }

    .smart-info h2 {
        font-size: 34px;
        text-align: center;
    }

    .smart-info h3 {
        font-size: 29px;
        text-align: center;
    }

    .smart-info p {
        font-size: 23px;
    }

    .smart-info ul li {
        font-size: 20px;
    }

    /* route table */
    .routes-page .route-form {
        padding: 40px 80px;
    }

    .routes-page .route-table {
        margin-top: 40px;
        padding: 20px 80px;
    }

    /* Bus Hiring Page */

    .busHiring-page .busHiring-container {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    /* about us page */
    .about-page .about-container {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media (max-width: 533px) {
    .busHiring-page .busHiring-form form div {
        width: 100%;
    }

    .busHiring-page .busHiring-form {
        padding: 25px;
    }

    .busHiring-page .busHiring-container {
        padding-left: 1.3rem;
        padding-right: 1.3rem;
    }

    /* about us page */
    .about-page .about-container {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
}
@media (max-width: 500px) {
    .navbar .navbar-brand span {
        font-size: 1.5rem;
    }

    .routes-page .route-form {
        padding: 40px 40px;
    }

    .routes-page .route-table {
        margin-top: 40px;
        padding: 20px 10px;
    }
}

@media (max-width: 314px) {
    .navbar .navbar-brand span {
        font-size: 1.2rem;
    }

    .navbar .navbar-brand img {
        height: 20px;
        width: 70px;
    }

    .routes-page .route-table {
        margin-top: 40px;
        padding: 20px 0px;
    }

    .busHiring-page .busHiring-form {
        padding: 15px;
    }

    .busHiring-page .busHiring-container {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }

    /* about us page */
    .about-page .about-container {
        padding-left: 0.7rem;
        padding-right: 0.7rem;
    }
}
